/********** Template CSS **********/
:root {
    --primary: #D81324;
    --secondary: #000;
    --light: #F2F2F2;
    --dark: #111111;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
	position: fixed;
	display: none;
	right: 35px;
	bottom: 25px;
	z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
	width: 45px;
	height: 45px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background-color: rgba(71, 6, 6, .3);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(../img/carousel-bg-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Service ***/
.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(../img/carousel-bg-3.jpg) center center no-repeat;
    background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** PRODUTOS ***/
.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
	background-color:#D81324;
	opacity:50%;
	transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Locais ***/




.locais .btn.btn-link {
    display: block;
    margin-bottom: 2px;
    padding: 0;
    text-align: left;
    color: #8F8F8F;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.locais .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.locais .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}



.locais .footer-menu a {
    margin-right: 13px;
    padding-right: 13px;
    border-right: 1px solid rgba(70, 9, 9, .9);
}

.locais .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}



/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
    border-radius: 38px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #7D1313;
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #9B9B9B;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(125, 19, 19, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}










/*** Footer ***/
.footer {
    background: linear-gradient(rgba(33, 2, 2, .8), rgba(33, 2, 2, .8)), url(../img/concrevilli-concreto-usinado-footer.jpg) center center no-repeat;
    background-size: cover;
}



.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(125, 19, 19, .3);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(125, 19, 19, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
    border-radius: 38px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #7D1313;
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #9B9B9B;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(125, 19, 19, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

/* WHATSAPP FIXO */
.whatsapp-fixo {
position: fixed;
bottom:70px;
right:15px;
z-index: 9999;
}
.linkmap {
	color: #666;
}

.bag-whatsapp-alert {
	z-index: 1020;
	position: fixed;
	bottom: 70px;
	padding: 5px 7px;
	right: 109px;
	background: #fff;
	display: none;
	color: #060;
	border-radius: 5px;
	font-size: 15px;
	width: auto;
	border: #060 solid 2px;
	font-weight: 700;
	}

	.bag-whatsapp-alert-arrow {
		position: fixed;
		bottom: 75px;
		padding: 9px 7px;
		right: 105px;
		background: #060;
		display: none;
		width: 15px;
		height: 15px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: 31;
	}

	.bloco-wthats .link-whats,
	.titulo {
		overflow: hidden;
		background-repeat: no-repeat;
	}

	.bloco-wthats {
		position: fixed;
		right: 5px;
		bottom: 39px;
		z-index: 100;
		width: 100px;
		height: 100px;
	}

	.bloco-wthats .aura,
	.bloco-wthats .link-whats {
		position: absolute;
		display: block;
		top: 50%;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		-khtml-transform: translate(-50%, -50%);
		left: 50%;
	}

	.bloco-wthats .link-whats {
	z-index: 1;
	background-color: #060;
	
	background-image: url('https://concretopreco.fmixconcreto.com.br/custom/whatsapp.png') !important;
	background-size: 80px !important;
	background-position: 50% 50%;
	background-size: 90px;
	-webkit-box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, 0.3);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}

	.bloco-wthats .link-whats:hover {
		background-color: #44bb6e;
	}

	.bloco-wthats .aura {
		background-color: #060;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		-webkit-opacity: 1;
		-khtml-opacity: 1;
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 1;
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-webkit-transition: width 1.5s, height 1.5s, opacity 2.5s;
		transition: width 1.5s, height 1.5s, opacity 2.5s;
		-webkit-animation-name: aura;
		animation-name: aura;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
	}



	@-webkit-keyframes aura {
		0% {
			filter: alpha(opacity=100);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			-webkit-opacity: 1;
			-khtml-opacity: 1;
			-moz-opacity: 1;
			-ms-opacity: 1;
			-o-opacity: 1;
			opacity: 1;
			width: 50px;
			height: 50px;
		}

		100% {
			filter: alpha(opacity=0);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			-webkit-opacity: 0;
			-khtml-opacity: 0;
			-moz-opacity: 0;
			-ms-opacity: 0;
			-o-opacity: 0;
			opacity: 0;
			width: 150px;
			height: 150px;
		}
	}

	@keyframes aura {
		0% {
			filter: alpha(opacity=100);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			-webkit-opacity: 1;
			-khtml-opacity: 1;
			-moz-opacity: 1;
			-ms-opacity: 1;
			-o-opacity: 1;
			opacity: 1;
			width: 70px;
			height: 70px;
		}

		100% {
			filter: alpha(opacity=0);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			-webkit-opacity: 0;
			-khtml-opacity: 0;
			-moz-opacity: 0;
			-ms-opacity: 0;
			-o-opacity: 0;
			opacity: 0;
			width: 150px;
			height: 150px;
		}
	}
